<div class="clean">
  <div class="business-rating">
    <ion-label [innerHTML]="title"></ion-label>
    <div class="border-block">
      <span>{{ intro }}</span>
      <ion-label [innerHTML]="textMsg"></ion-label>
    </div>
    <ion-text>
      <ion-icon
        *ngFor="let icon of [].constructor(6); let i = index"
        [name]="i < 5 ? 'star' : 'star-outline'"
        size="large"
      >
      </ion-icon>
    </ion-text>
  </div>
  <div class="testomies">
    <rivy-testimony-slider [testimonies]="testimonies" />
  </div>
</div>
