.hero {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px;
    padding: 120px 0;
    flex-wrap: wrap;

    .info {
        flex: 1 1 350px; // Allow to grow/shrink, set min width
        min-width: 250px;
        max-width: 600px;

        ion-label {
            font-size: 54px;
            color: var(--rivy-text-color);
            margin: 0 0 27px;
            display: block;
            font-weight: 600;

            span {
                color: oklch(85.44% .1208 77.63);
                text-decoration: underline;
            }
        }

        p {
            font-size: 15px;
            color: var(--rivy-support-text-color);
            margin: 0 0 27px;
        }
    }

    .img {
        flex: 1 1 300px; // Allow to grow/shrink, set min width
        min-width: 200px;
        max-width: 500px;

        img {
            width: 100%;
            height: auto;
            object-fit: contain;
            overflow: hidden;
        }
    }

}