<div class="card">
  @for (card of cards; track $index) {
  <div
    class="item"
    [style.background]="checkedIndex === $index ? 'white' : '#f3f9f3'"
  >
    <div class="item-prop">
      <img [src]="card.image" width="35" />
      <ion-label>{{ card.title }}</ion-label>
    </div>
    <ion-checkbox
      [checked]="checkedIndex === $index"
      (ionChange)="onCheckboxChange($event, $index)"
    >
    </ion-checkbox>
  </div>
  }
</div>
<ion-button
  expand="block"
  color="none"
  class="ion-no-padding"
  [disabled]="checkedIndex === null"
>
  <ion-label class="btn-icon">Process</ion-label>
  <ion-icon slot="end" name="arrow-forward-outline" class="btn-text"></ion-icon>
</ion-button>