<ion-content>
  <div class="hero-backdrop">
    <div class="page"><rivy-hero-section /></div>
  </div>
  <div class="section">
    <div class="page">
      <rivy-ad-energy [cards]="cards" />
      <rivy-clean-energy />
    </div>
  </div>

  <div class="section-netural">
    <div class="page">
      <rivy-green-light />
      <rivy-gate-access />
    </div>
    <div class="border"></div>
    <div class="page">
      <rivy-analytics [analytics]="analytics" />
    </div>

    <div class="section-analytics">
      <div class="page">

        <rivy-partnership />
      </div>
    </div>
  </div>
</ion-content>
