<div class="green-container">
  <div class="product-container">
    <div class="img-block">
      <img src="/assets/image/Solar-Powered-Traffic-Light-DvVQ3kN9.svg" />
    </div>
    <ion-text>
      <ion-label
        >You have the <br />
        <span class="breakoff"> green light </span></ion-label
      >
      <span
        >Enter your clean energy project/inventory needs and find out what it
        costs to power them.</span
      >
    </ion-text>
  </div>
  <div class="confirmation-container">
    <rivy-checkout-card [cards]="cards" />
  </div>
</div>
