.robex-page-center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

.page {
  padding: 30px 4.5rem;

  section {
    padding: 1.3rem 0;
  }
}

ion-button {
  margin: 0;
  --box-shadow: none;
  text-transform: none;
  width: fit-content;
  font-size: 13.5px
}

.create {
  padding: 0 24px;
  border-radius: 5px;
  background: var(--rivy-btn-background);
  transition: all .2s ease-in-out;
  font-weight: 300;
}

.create:hover {
  background: var(--rivy-text-color);
  transition: all .2s ease-in-out;
}