@import '../utilities/variables.scss';

ion-button {
  margin: 0;
  padding: 0 12px;
  border-radius: var(--rivy-border-radius);
  --box-shadow: none;
  text-transform: none;
  width: fit-content;
  font-size: 13.5px;
  transition: all .2s ease-in-out;
  font-weight: 300;
}

.create {
  background: var(--rivy-btn-background);
}

.create:hover {
  background: var(--rivy-text-color);
  transition: all .2s ease-in-out;
}

.login {
  background: var(--rivy-text-color);
}

.login:hover {
  transition: all .2s ease-in-out;
  background: var(--rivy-btn-background);
}