.card {
    background: oklch(96.41% .0218 138.98);
    padding: 30px;
    border: 1px solid #cfd3d066;
    border-radius: 20px;

    .content {
        display: flex;
        flex-direction: column;
        gap: 30px;

        ion-text {
            color: black;
            padding: 0 50px 0 0;

            p{ 
                padding-bottom: 10px;
            }
            span {
                font-weight: 600;
                font-size: 18px;
                transition: all .2s ease-in-out;
                color: var(--rivy-support-text-color) !important;
            }
        }

        span:hover {
            color: black !important;
            border-bottom: 2px solid black;
            transition: all .2s ease-in-out;
            cursor: pointer;
        }
    }

}

.servicePlatform {
    display: flex;
    gap: 10px;
    padding-top:20px;

    .signIn {
        background: black;
        border-radius: 5px;
        display: flex;
        gap: 5px;
        padding: 10px 24px;

        ion-label { 
        font-size: 13.5px
        }
    }
}