<div class="banner-container">
  <div class="img-block">
    <img src="https://rivy.co/assets/Join-Team-BG-CjxyuDEC.webp" />
  </div>
  <div class="middle-box" routerLink="/">
    <ion-text>
      <ion-label class="ion-no-padding">join our <br> <span>team </span></ion-label>
    </ion-text>
  </div>

  <div class="direction-wrapper">
    <div class="direction">
      <img src="assets/icon/people-icon.svg" width="50"/>
      <div class="btn">
        <ion-icon name="arrow-forward-outline" ></ion-icon>
      </div>
    </div>
  </div>
</div>