:root {
    --rivy-border-color: rgba(110, 109, 109, 0.201);
    --rivy-text-color: oklch(98.8% .0217 138.98);
    --rivy-background: oklch(23.4% .0372 155.04);
    --rivy-btn-background:  oklch(79.82% .1594 167.83);
    --rivy-border-radius:  5px;
    --rivy-support-text-color: oklch(72.05% .0115 158.74)
}